
*{
  box-sizing: border-box;
}

.app_container{
  width: 100vw;
  height: 100vh;
  border: black 1px solid;
  color: black;
}

.home_content{
  display: flex;
  justify-content: center;
  width:  100%;
  height: 90%;
}